<div class="container mt-1">
  <div class="row justify-content-center mb-4">
    <h1 class="display-3 text-center"><b>Mi Grupo</b></h1>
  </div>
  <div class="row">
    <div class="col-10 col-sm-6">
      <h1 class="display-4">Nombre: <p class="text-muted">{{usuario?.nombre}}</p></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-sm-6">
      <h1 class="display-4">Puntos Restantes:</h1>
    </div>
    <div class="col-10 col-sm-6">
      <h1>{{usuario?.num_tickets}}</h1>
    </div>
  </div>
  
  <!-- tabla del grupo -->
  <div class="row justify-content-center mt-2" *ngIf="!adTicket" >
    <div class="col-12 col-sm-6">
      <ngb-alert type="info" *ngIf="successMessage2" (close)="successMessage2 = null">{{ successMessage2 }}</ngb-alert>
    </div>
    <div class="col-11 col-sm-8">
      <table class="table table-striped table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center" scope="col-1">#</th>
            <th scope="col">Nombre</th>
            <th class="text-center" scope="col-2">Puntos</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acreditado of acreditados; let i = index">
            <th scope="row" class="text-center">{{i+1}}</th>
            <td>{{acreditado.nombre}}</td>
            <td class="text-center">{{acreditado.puntos}}</td>
            <td *ngIf="usuario?.num_tickets > 0">
              <button type="button" class="btn btn-info btn-sm" (click)="agregarTicket(acreditado)">+ Punto</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-8">
      <ngb-alert type="warning" *ngIf="successMessage" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-sm-9">
      <div class="alert alert-danger" role="alert" *ngIf="usuario?.num_tickets <=0 ">
        No tienes puntos para asignar
      </div>
      <!-- <div class="col-12 col-sm-6">
        <ngb-alert type="warning" *ngIf="successMessage" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      </div> -->
      <div class="col-11 col-sm-6 mb-5" *ngIf="!adTicket">
        <button type="button" class="btn btn-primary btn-lg" (click)="adicionarTicket()">Agregar Ticket</button>
      </div>
    </div>
  </div>
  <!-- Agregar Ticket -->
  <div class="row my-2 justify-content-center" *ngIf="adTicket">
    <div class="col-8 col-sm-3">
      <div class="input-group">
        <input type="number" min="0" class="form-control" placeholder="Num. Ticket" aria-label="Num. Ticket" aria-describedby="basic-addon2" (change)="getNumeroTicket($event)">
        <span class="input-group-addon" id="basic-addon2"><b>#</b></span>
      </div>
    </div>
    <div class="col-11 col-sm-5">
      <div class="list-group"*ngIf="!seleccionado">
        <h2>Seleccionar persona:</h2>
        <a href="" class="list-group-item list-group-item-action" *ngFor="let acreditado of acreditados"
          (click)="seleccionar($event,acreditado)">
          {{ acreditado.nombre }}
        </a>
      </div>
      <div *ngIf="seleccionado">
        <h2>Nombre:</h2>
        <p>{{ acreditadoSeleccionado?.nombre }}</p>
      </div>
    </div>
    <div class="col-6 col-sm-4 my-4">
      <button type="button" class="btn btn-success btn-lg" (click)="registrarTicket()">Agregar</button>
    </div>
    
  </div>
  
</div>
