<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Android Camp 2017</span>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" 
      data-toggle="collapse" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation"
       aria-controls="collapseExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" (click)="isCollapsed = !isCollapsed">
          <a class="nav-link" routerLink="/puntos" routerLinkActive="active">Puntos
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <!-- <li class="nav-item" *ngIf="isLoggedIn && isAdmin" (click)="isCollapsed = !isCollapsed">
          <a class="nav-link" routerLink="/inscritos" routerLinkActive="active">Acreditación</a>
        </li> -->
        <li class="nav-item" *ngIf="isLoggedIn && !isAdmin" (click)="isCollapsed = !isCollapsed">
          <a class="nav-link" routerLink="/mi-grupo" routerLinkActive="active">Mi Grupo</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isAdmin" (click)="isCollapsed = !isCollapsed">
          <a class="nav-link" routerLink="/canje-puntos" routerLinkActive="active">Canje de Puntos</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isAdmin" (click)="isCollapsed = !isCollapsed">
          <a class="nav-link" routerLink="/inscripcion" routerLinkActive="active">Inscripción</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown" ngbDropdown *ngIf="isLoggedIn && isAdmin">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" ngbDropdownToggle (click)="prevent($event)">
            Acreditación
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/acreditar" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Acreditación</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/acreditar-grupo" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Acreditar Grupo</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isAdmin" (click)="isCollapsed = !isCollapsed">
          <a class="nav-link" routerLink="/info" routerLinkActive="active">Informacíon</a>
        </li>
      </ul>
      <button class="btn align-middle" type="button" (click)="iniciarSesion()" *ngIf="!isLoggedIn" (click)="isCollapsed = !isCollapsed">Ingresar</button>
      <button class="btn align-middle" type="button" (click)="cerrarSesion()" *ngIf="isLoggedIn" (click)="isCollapsed = !isCollapsed">Salir</button>
    </div>
  </div>
</nav>
