<div class="container mt-3">
   <!-- justify-content-center -->

  <!-- <div class="row justify-content-center" *ngIf="grupoCompleto">
    <div class="alert alert-info col-11 col-sm-8 text-center" role="alert">
      Grupo completo
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 col-sm-8">
      <ngb-alert type="info" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    </div>
  </div>-->
  <div class="row justify-content-center" *ngIf="numero_vacio">
    <div class="alert alert-danger col-11 col-sm-8 text-center" role="alert">
      Debe seleccionar tamaño del grupo
    </div>
  </div>

  <div class="row justify-content-center">

    <!-- tabla del grupo -->
    <div class="col-11 col-sm-6 mt-3">

      <div class="row col-8 col-sm-6 offset-2 offset-sm-3  justify-content-center mb-2">
        <label for="numero">Personas a Acreditar</label>
        <select class="form-control" id="numero" (change)="cambiarNumero($event)">
          <option value="">Num. Per.</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      
      <div class="w-100"></div>
      <h2>Grupo</h2>
      <table class="table ml-1">
        <thead class="thead-dark">
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscrito of grupo; let i=index;">
            <th scope="row">{{i+1}}</th>
            <td scope="row" class="text-center">{{inscrito.nombre}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-11 col-sm-6 justify-content-center">
      <hr>
      <div class="row justify-content-center" *ngIf="grupoCompleto">
        <div class="alert alert-info col-12 text-center" role="alert">
          Grupo completo
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <ngb-alert type="info" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        </div>
      </div>
      <!-- sleccion del guia -->
      <div class="row justify-content-center" *ngIf="grupoCompleto && !seleccionado">
        <h2>Selec. Guia</h2>
        <div class="col-11">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar Guia..." aria-label="Buscar Guia..." [(ngModel)]="searchText"
             (focus)="buscar()">
          </div>
        </div>
      </div>
      <div class="row my-3 justify-content-center" *ngIf="grupoCompleto">
        <div class="col-6">
          <button class="btn btn-secondary float-right" type="button" (click)="guiaRandom(guias)">Guia Random</button>
        </div>
        <div class="col-6" *ngIf="grupoCompleto && seleccionado">
          <button class="btn btn-info float-left" type="button" (click)="volveraBuscar()">Buscar Guia</button>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="grupoCompleto && !seleccionado">
        <ul class="list-group clearfix col-10" *ngIf="proceder">
          <li class="list-group-item my-auto align-middle" *ngFor="let guia of guias | filter : searchText : false;">
            {{guia.nombre}} {{guia.apellido}} : {{guia.num_participantes}}
            <button type="button" class="btn btn-primary float-right btn-sm" (click)="seleccionarGuia(guia,$event)">Seleccionar</button>
          </li>
        </ul>
      </div>
      <!-- busqueda -->
      <div *ngIf="!grupoCompleto">
        <h2>Selec. Inscrito</h2>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Buscar Inscrito..." [(ngModel)]="searchText" placeholder="Buscar Inscrito..."
            (focus)="buscar()">
          <div class="input-group-btn">
            <label for="exampleFormControlSelect1">Filtro</label>
            <select class="form-control" id="exampleFormControlSelect1" (change)="cambiarFiltro()">
              <option>Código</option>
              <option>Nombre</option>
            </select>
          </div>
        </div>
        <div class="list-group mt-2" *ngIf="proceder && !grupoCompleto">
          <a href="" class="list-group-item list-group-item-action" *ngFor="let inscrito of inscritos  | filter : searchText : filtro"
            (click)="seleccionar($event,inscrito)">
            {{ inscrito.nombre }}
          </a>
        </div>
      </div>
      <!-- botones de confirmacion -->
      <div class="my-4" *ngIf="grupoCompleto && seleccionado">
        <h3 class="display-3">
          <b>Guia:</b>
        </h3>
        <h4 class="display-4 text-center text-muted"> {{guiaSelecionado.nombre}} {{guiaSelecionado.apellido}}</h4>
        <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-danger btn-lg float-right" (click)="cancelar()">Cancelar</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-success btn-lg float-left" (click)="open(content,guiaSelecionado)">Confirmar</button>
          </div>
        </div>
        <!-- <button type="button" class="btn btn-danger btn-lg" (click)="cancelar()">Cancelar</button> -->
      </div>

    </div>

  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <!-- <h4 class="modal-title">Modal title</h4> -->
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>SE ACREDITO AL GRUPO...</p>
      <p>Con el guía : {{guiaSelecionado.nombre}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">OK!</button>
    </div>
  </ng-template>


</div>
