<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="row col-11 col-sm-6 align-items-center">
      <div class="col-11 col-sm-8">
        <h1>Num. Insritos Restantes</h1>
      </div>
      <div class="col-11 col-sm-4">
        <h2 class="text-muted text-center">{{inscritos}}</h2>
      </div>
    </div>
    <div class="row col-11 col-sm-6 align-items-center">
      <div class="col-11 col-sm-8">
        <h1>Num. Acreditados</h1>
      </div>
      <div class="col-11 col-sm-4">
        <h2 class="text-muted text-center">{{acreditados}}</h2>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="row col-11 col-sm-6 align-items-center">
      <div class="col-11 col-sm-8">
        <h1>Num. Mujeres acreditadas</h1>
      </div>
      <div class="col-11 col-sm-4">
        <h2 class="text-muted text-center">{{numMujeres}}</h2>
      </div>
    </div>
    <div class="row col-11 col-sm-6 align-items-center">
      <div class="col-11 col-sm-8">
        <h1>Num. Hombres acreditados</h1>
      </div>
      <div class="col-11 col-sm-4">
        <h2 class="text-muted text-center">{{numHombres}}</h2>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="row col-11 col-sm-6 align-items-center">
      <div class="col-11 col-sm-8">
        <h1>Num. Tickets registrados</h1>
      </div>
      <div class="col-11 col-sm-4">
        <h2 class="text-muted text-center">{{numTickets}}</h2>
      </div>
    </div>
    <div class="row col-11 col-sm-6 align-items-center">
      <div class="col-11 col-sm-8">
        <h1>Acreditado con mas puntos</h1>
      </div>
      <div class="col-11 col-sm-4">
        <h2 class="text-muted text-center">{{acreditado?.nombre}}</h2>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-11 col-sm-5">
      <h1 class="text-center">Guias que entregaron mas puntos</h1>
      <table class="table table-responsive-sm mt-3">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th class="text-center">Puntos Entregados</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let guia of guias">
            <td>{{guia.nombre}}</td>
            <td class="text-center">{{30 - guia.num_tickets}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
